:root {
    --primary-color: #409EFF;
    --secondary-color: #409EFF;
    --success-color: #67C23A;
    --warning-color: #E6A23C;
    --danger-color: #F56C6C;
    --info-color: #909399;

    --border-color: #EBEEF5;
    --border-color-dark: #E4E7ED;
    --border-color-light: #F2F6FC;

    --background-color: #f2f2f2;
    --background-color-dark: #e8e8e8;
    --background-color-light: #f8f8f8;

    --text-color: #303133;
    --text-color-secondary: #606266;
    --text-color-thirdly: #909399;
    --text-color-placeholder: #C0C4CC;

    --gap-size: 16px;
    --gap-size-lg: 32px;
    --gap-size-sm: 8px;
}

/* Reset */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    background-color: var(--background-color-light);
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
}

a:focus,
a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

img {
    vertical-align: middle;
}

[hidden] {
    display: none !important;
}

/* Utils */

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-primary {
    color: var(--primary-color);
}

.text-success {
    color: var(--success-color);
}

.text-info {
    color: var(--info-color);
}

.text-warning {
    color: var(--warning-color);
}

.text-danger {
    color: var(--danger-color);
}

.font-bold {
    font-weight: bold;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.nowrap {
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

.gap-mt {
    margin-top: var(--gap-size);
}

.gap-mt-lg {
    margin-top: var(--gap-size-lg);
}

.gap-mt-sm {
    margin-top: var(--gap-size-sm);
}

.gap-mr {
    margin-right: var(--gap-size);
}

.gap-mr-lg {
    margin-right: var(--gap-size-lg);
}

.gap-mr-sm {
    margin-right: var(--gap-size-sm);
}

.gap-mb {
    margin-bottom: var(--gap-size);
}

.gap-mb-lg {
    margin-bottom: var(--gap-size-lg);
}

.gap-mb-sm {
    margin-bottom: var(--gap-size-sm);
}

.gap-ml {
    margin-left: var(--gap-size);
}

.gap-ml-lg {
    margin-left: var(--gap-size-lg);
}

.gap-ml-sm {
    margin-left: var(--gap-size-sm);
}

/* flex */

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    justify-content: center;
}

.flex-column-center {
    align-items: center;
}

/* table */
.el-table .thead-light,
.el-table .thead-light th {
    background-color: var(--background-color-light);
}

.el-table .thead-dark,
.el-table .thead-dark th {
    background-color: var(--background-color-dark);
}

/* page */
.page-right {
    padding: var(--gap-size);
}

.page-body {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: var(--gap-size);
}

.page-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    height: 45px;
    border-bottom: 1px solid var(--border-color);
}

.page-title {
    font-size: 18px;
    margin: 0;
    color: #666;
    padding-left: var(--gap-size);
}

.page-back {
    width: 44px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.page-back::after {
    content: "";
    position: absolute;
    right: 0;
    height: 0.8em;
    width: 1px;
    background-color: var(--text-color-placeholder);
}

.page-back:hover {
    color: var(--primary-color);
}

.page-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--gap-size);
}

/* reset element-ui */
.el-menu--horizontal > .el-submenu .el-submenu__title {
    height: 50px;
    line-height: 50px;
}

.el-menu {
    border-right: none;
}

.el-submenu .el-menu-item {
    background-color: #1f2d3d !important;
}

.el-menu .el-menu-item:hover {
    background-color: rgb(38, 52, 69) !important;
}

.el-menu .el-submenu__title:hover {
    background-color: rgb(38, 52, 69) !important;
}

.el-upload--picture-card {
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.demo-layout .grid-content {
    min-height: 36px;
    line-height: 36px;
}

.demo-layout .bg-purple-dark {
    background: #99a9bf;
}

.demo-layout .bg-green {
    background: #67C23A;
}

.demo-layout .bg-primary {
    background: #409eff;
}

.demo-layout .bg-dark-green {
    background: rgb(82, 190, 195);
}

.demo-layout .bg-purple {
    background: #d3dce6;
}

.demo-layout .bg-danger {
    background: #f56c6c;
}

.demo-layout .bg-purple-light {
    background: #e5e9f2;
}

.status-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    vertical-align: middle;
    background-color: currentColor;
}

.word-auto-break {
    white-space: normal;
    word-break: break-all;
}

.auto-height {
    height: auto !important;
}

.dialog-footer {
    text-align: right;
}

